<configuration scan="true" scanperiod="5 seconds">
   <property scope="context" name="pattern_stdout"
		value="[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - [requestID: %X{requestID}] %msg%n" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>springJpa.log</file>
		<encoder>
			<pattern>[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - [requestID: %X{requestID}] %msg%n</pattern>
		</encoder>
	</appender>
	
		<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<pattern>${pattern_stdout}</pattern>
			<pattern></pattern>
		</encoder>
	</appender>
	
	<appender name="Sql" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
        <file>logs/sql.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <fileNamePattern>logs/springJpaKata.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>25MB</maxFileSize>
        </triggeringPolicy>
    </appender>
	
	<logger name="pl.java.scalatech" level="INFO"/>
	<logger name="org.springframework.aop.interceptor" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	 <logger name="org.springframework.data" level="INFO" additivity="false"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="MyDS" level="INFO" additivity="false"/>
     <logger name="net.ttddyy" level="INFO"/>
    
   <!--  <logger name="org.hibernate.stat" level="DEBUG"/> -->
    
    <!-- <logger name="org.hibernate.SQL" level="DEBUG"/> -->
   <!--  <logger name="org.hibernate.type" level="TRACE"/> -->

     
     
     
     <logger name="log4jdbc.debug" additivity="false">
		<level value="info" />
		<appender-ref ref="Sql" />
	</logger>
	    
    <logger name="jdbc.sqltiming" additivity="false">
		<level value="info" />
		<appender-ref ref="Sql" />
	</logger>
	
	<logger name="jdbc.resultset" additivity="false">
		<level value="error" />
		<appender-ref ref="Sql" />
	</logger>
	
	<logger name="jdbc.audit" additivity="false">
		<level value="error" />
		<appender-ref ref="Sql" />
	</logger>
	
	<logger name="jdbc.sqlonly" additivity="false">
		<level value="error" />
		<appender-ref ref="Sql" />
	</logger>
	
	<logger name="jdbc.resultsettable" additivity="false">
		<level value="error" />
		<appender-ref ref="Sql" />
	</logger>
	
	<logger name="jdbc.connection" additivity="false">
		<level value="error" />
		<appender-ref ref="Sql" />
	</logger>
	
	<logger name="jdbc.resultsettable" additivity="false">
		<level value="error" />
		<appender-ref ref="Sql" />
	</logger>

    

	<root level="DEBUG">
	    <appender-ref ref="console"/>
	    <appender-ref ref="FILE"/>
	</root>
</configuration>
